package ${packageInfo.fullName};

#foreach($element in $imports)
import $element
#end

/**
#if($classInfo.comment && $classInfo.comment != '') * $classInfo.comment
#end
 * Created by ${authorInfo.name} on ${dateInfo.now}.
 */
public class ${classInfo.name} {
## --> build field start
#foreach($field in $classInfo.fields)

#if($field.describe)//${field.describe}#end
#if($field.javaType == 'JDateTime')
    @JsonDeserialize(using = JDateTimeDeserializer.class)
    @JsonSerialize(using = JDateTimeSerializer.class)
#end
    private ${field.javaType} ${field.name};
#end
## <-- build field end

## --> build property start
#foreach($field in $classInfo.fields)

#if($field.describe)
    /**
     * 获取 ${field.describe}
     */
#end
    public ${field.javaType} get${WordUtil.of(${field.name}).firstToUp().out()} {
        return ${field.name};
    }

#if($field.describe)
    /**
     * 设置 ${field.describe}
     */
#end
    public ${classInfo.name} set${WordUtil.of(${field.name}).firstToUp().out()}(${field.javaType} ${field.name}) {
        this.${field.name} = ${field.name};
        return this;
    }
#end
## <-- build property end
}
#* @implicitly included *#
#* @vtlvariable name="packageInfo" type="org.vinci.codesmith.core.plugin.scurd.info.PackageInfo" *#
#* @vtlvariable name="imports" type="org.vinci.codesmith.core.plugin.scurd.info.ImportList" *#
#* @vtlvariable name="classInfo" type="org.vinci.codesmith.core.plugin.scurd.info.ClassTemplateInfo" *#
#* @vtlvariable name="authorInfo" type="org.vinci.codesmith.core.plugin.scurd.info.AuthorInfo" *#
#* @vtlvariable name="dateInfo" type="org.vinci.codesmith.core.plugin.scurd.info.DateInfo" *#
#* @vtlvariable name="WordUtil" type="org.vinci.codesmith.core.utils.WordUtil" *#